.main ul {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 60px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin: 50px;
  min-width: 800px;
}

.main ul li {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 5px;
}

.main ul li p {
  justify-self: right;
  align-self: center;
  padding: 10px;
  color: #784fe7;
}

.main ul li button {
  justify-self: right;
  padding: 0px 5px;
  color: white;
  font-size: 20px;
  border-style: none;
  background-color: #784fe7;
  border-radius: 5px;
  grid-column-start: 2;
}

.main ul li button:hover {
  cursor: pointer;
}

.main ul li img {
  width: 12vw;
}

.main ul li .modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
}

.main ul li .modal .modal-content {
  position: relative;
  padding: 60px;
  margin: 120px auto;
  border-radius: 8px;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: grid;
}

.main ul li .modal .modal-content strong {
  width: 200px;
  position: absolute;
  top: 10px;
  font-size: 12px;
  text-align: left;
}

.main ul li .modal .modal-content input {
  height: 32px;
  width: 200px;
  margin: 5px;
  border: 1px solid #784fe7;
  padding: 7px;
}

.main ul li .modal .modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #784fe7;
  background-color: #784fe7;
  color: white;
  font-size: 12px;
}

.main ul li .modal .modal-content img {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 200px;
}

.main ul li .modal .modal-content .title {
  color: #784fe7;
  position: absolute;
  top: 25px;
  left: 24px;
  font-size: 18px;
}

.main ul li .modal .modal-content .price {
  color: #784fe7;
  position: absolute;
  top: 240px;
  left: 24px;
  font-size: 16px;
}

.main ul li .modal .modal-content .details {
  color: #784fe7;
  position: absolute;
  top: 110px;
  left: 158px;
  width: 124px;
  font-size: 12px;
  text-align: justify;
}

.main ul li .modal .modal-content .buttons {
  position: absolute;
  top: 240px;
  width: 300px;

  text-align: center;
}

.main ul li .modal .modal-content .buttons button {
  font-size: 12px;
  width: 150px;
  height: 24px;
  margin-top: 5px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
